/* Yes, we all hate IE7 too */

/** Drupal admin tables **/

#content tr.even th,
#content tr.even td,
#content tr.odd th,
#content tr.odd td {
  border-bottom: 1px solid #ccc; /* IE doesn't display borders on table rows */
}

/* Minor fix for primary and secondary tabs in IE */

ul.primary li a:hover {
	cursor:pointer;
	color:#555;
	text-decoration:none;
}
ul.secondary li a:hover{
	cursor:pointer;
	color:#555;
	text-decoration:none;
}

#slogan h1{
    color: white;
    font-family: Snell Roundhand,My Snell Roundhand,Bickham Script Pro,Brush Script,Brush Script Std,Caflisch Script Pro,Savoye LET,Monotype Corsiva,cursive;
    font-size: 28px;
    line-height: 33px;
	height:60px;
    text-align: center;	
	filter: Shadow(Color=#666666, 	
			Direction=135, 
			Strength=5);

}
.slideshow { height: 377px; width: 917px; margin: auto; 	background-color:black; }
.slideshow img { padding: 0px; }
.slideshow_holder{
	background:url(/sites/all/themes/basic/images/front_bk.png)no-repeat;
	width:960px;
	height:425px;
	margin-top:15px;
}